silent! echom "Loaded .ideavimrc"

" ------------------------------------------------------------------------------
" Leader Key
" ------------------------------------------------------------------------------
let mapleader = " "

" ------------------------------------------------------------------------------
" General Vim Settings
" ------------------------------------------------------------------------------
syntax          on
filetype        on
filetype plugin on
filetype indent on

set modeline
set modelines=2
set backspace=indent,eol,start
set visualbell

" ------------------------------------------------------------------------------
" Display Settings
" ------------------------------------------------------------------------------
set number
set showmode
set showcmd
set scrolloff=3
set linebreak
set listchars=tab:>-,trail:_
set list

" ------------------------------------------------------------------------------
" Indentation and Tabs
" ------------------------------------------------------------------------------
set tabstop=2
set shiftwidth=2
set expandtab
set smartindent


" ------------------------------------------------------------------------------
" Search
" ------------------------------------------------------------------------------
set incsearch
set ignorecase
set smartcase
set hlsearch

" ------------------------------------------------------------------------------
" Clipboard and Text Behavior
" ------------------------------------------------------------------------------
set clipboard=unnamedplus
set textwidth=80
""  NOT COPY THE TEXT BELLOW THE PASTED...
vnoremap p "_dP    


" ------------------------------------------------------------------------------
" Miscellaneous
" ------------------------------------------------------------------------------
if has("macunix")
    " SELECT ALL with CMD + A
    nnoremap <D-A> gg<S-v>G
    " SAVE FILE 
    nnoremap <D-S> :action SaveDocument<CR> 
else
    " SELECT ALL with CTRL + A
    nnoremap <C-A> gg<S-v>G  
    nnoremap <A-A> gg<S-v>G  

    " SAVE FILE 
    nnoremap <C-S> :action SaveDocument<CR>
    nnoremap <A-S> :action SaveDocument<CR>
endif

" ------------------------------------------------------------------------------
" IdeaVim-Specific Options
" ------------------------------------------------------------------------------
set ideajoin
set ideaput
set multiple-cursors
set surround
set idearefactormode=keep
set highlightedyank
set notimeout
set timeoutlen=5000


" ------------------------------------------------------------
" TAB NAVIGATION
" macOS: Cmd + H / Cmd + L
" Windows: Alt + H / Alt + L (same physical position as Cmd)
" ------------------------------------------------------------
if has("macunix")
  nnoremap <C-D-h> :action PreviousTab<CR>
  nnoremap <C-D-l> :action NextTab<CR>
else
  nnoremap <C-A-h> :action PreviousTab<CR>   
  nnoremap <C-A-l> :action NextTab<CR>
endif

" ------------------------------------------------------------------------------
" COMMAND K + <ACTION>
" ------------------------------------------------------------------------------
if has("macunix")
  nnoremap <D-k><D-r> :action RevealIn<CR>
  nnoremap <D-k><D-e> :action SelectInProjectView<CR>
  nnoremap <D-k><D-p> :action PinActiveEditorTab<CR>
 
  nnoremap <D-k><D-m> :action RiderCollapseToDefinitions<CR>
  nnoremap <D-k><D-0> :action CollapseAllRegions<CR>

  nnoremap <D-k><D-f> :action ReformatCode<CR>
  
else
  nnoremap <A-k><A-e> :action SelectInProjectView<CR>
  nnoremap <A-k><A-p> :action PinActiveEditorTab<CR>

  nnoremap <A-k><A-m> :action RiderCollapseToDefinitions<CR>
  nnoremap <A-k><A-0> :action CollapseAllRegions<CR>

  nnoremap <A-k><C-r> :action RevealIn<CR> " -- AUTOHOTKEY CONFLICT (RELOAD)
  nnoremap <A-k><C-f> :action ReformatCode<CR>;

  nnoremap <C-c> "+y
  vnoremap <C-c> "+y
  " nnoremap <C-v> "+p
  " vnoremap <C-v> "+p
  
  noremap <C-w> :action CloseContent<CR>
endif

nnoremap <F3>    :action OpenInAssociatedApplication<CR>
nnoremap <C-k><C-o> :action CIDR.Lang.SwitchHeaderSource<CR>


" ------------------------------------------------------------------------------
" Leader mappings
" ------------------------------------------------------------------------------
nnoremap <leader>o :action SearchEverywhere<CR>

" ------------------------------------------------------------------------------
" IntelliJ Action Bindings (Optional)
" ------------------------------------------------------------------------------
" nnoremap <leader>sv :action SplitVertically<CR>
" nnoremap <leader>sc :action UnsplitAll<CR>
" nmap <leader>h :action PreviousTab<CR>
" nmap <leader>l :action NextTab<CR>
" nnoremap <leader>gf :action GotoFile<CR>
" nnoremap <leader>gc :action GotoClass<CR>
" nnoremap <leader>gt :action GotoTest<CR>
" nnoremap <leader>rc :action RunClass<CR>
" nnoremap ,rc :action ChooseRunConfiguration<CR>
